<%- include partials/header.ejs %>

    <!-- <%= BusinessList %> -->

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="table-responsive">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Number</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < BusinessList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= BusinessList[count].name %></td>
                        <td class="text-center"><%= BusinessList[count].email %></td>
                        <td class="text-center"><%= BusinessList[count].number %></td>
                                             
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>
<% include partials/contact_footer.ejs %>
