<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 id="textLarge"><%= title %></h1>

            <form class="form" method="POST" >
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="nameTextField">Name</label>
                    <input type="text" class="form-control " 
                        id="nameTextField"
                        placeholder="enter your name"
                        name="name" 
                        value="<%= item.name %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="numberTextField">Number</label>
                    <input type="number" class="form-control"
                    id="numberTextField"
                    placeholder="phone number"
                    name="number" 
                    value="<%= item.number %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emmailTextField"
                    placeholder="email address"
                    name="email" 
                    value="<%= item.email %>"
                    >
                </div>
                <br />
                
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/inventory/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>